@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background: #5d749c;
    justify-content: center;
    align-items: center;
}

.banner {
    color: rgb(253, 253, 253);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    align-items: center;
}

.frame {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr); /* Adjusted grid layout for 2 rows and 2 columns */
    gap: 10px; /* Added gap between item-box elements */
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #3d4e69;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 20px;
    font-size: 1.2rem;
    transition: background 0.3s ease-in-out;
}

.item-box:hover {
    background: #576b95;
}

/* Media query for screens with a maximum width of 600px (typical for phones) */
@media (max-width: 600px) {
    .wrapper {
        width: 90vmin;
        height: auto;
    }

    .banner {
        font-size: 1rem;
        padding: 15px;
    }

    .item-box {
        font-size: 1rem;
        padding: 15px;
    }
}